code/chat_perfecta.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="all">
    <meta name="author" content="Libris">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TiBX</title>
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#005eff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#005eff">
    <link rel="stylesheet" href="dist/css/all.min.css">
    <script src="dist/js/libs/jquery.min.js"></script>
    <script src="dist/js/plugins/select2.full.js"></script>
    <script src="dist/js/plugins/perfect-scrollbar.jquery.js"></script>
    <script src="dist/js/plugins/tooltipster.bundle.js"></script>
    <script src="dist/js/specific/app.js"></script>
  </head>
  <body>
    <div class="l-chat">
      <div class="l-chat__item">
        <div class="b-chat-nav b-chat-nav_active_mb l-chat__nav">
          <div class="b-chat-nav__logo">
            <div class="b-chat-nav__logo-symbol" style="height: 37px; background-image: url( 'media/img/content/companies/Perfecta.png' )"></div>
          </div>
          <div class="b-chat-nav__content c-scroll">
            <div class="b-chat-nav__item">
              <div class="b-chat-nav__heading b-chat-nav__heading_team">
                <div class="b-chat-nav__heading-text">Favorites</div>
                <button class="b-chat-nav__heading-btn-add"></button>
              </div>
              <div class="b-chat-nav__chat-list">
                <div class="b-chat-nav__chat-list-item b-chat-nav__chat-list-item_user c-switcher" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">
                  <div class="b-chat-nav__chat-list-item-inner">
                    <div class="b-chat-line b-chat-nav__chat-list-info">
                      <div class="b-chat-line__item">
                        <div class="b-chat-line__photo b-chat-nav__photo" style="background-image: url(media/img/content/users/3.jpg)"></div>
                      </div>
                      <div class="b-chat-line__item b-chat-line__item_name">
                        <div class="b-chat-line__name b-chat-nav__name">Debra Santos (Me)</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-chat-nav__chat-list-item b-chat-nav__chat-list-item_user b-chat-nav__chat-list-item_active c-switcher b-chat-nav__chat-list-item_online" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">
                  <div class="b-chat-nav__chat-list-item-inner">
                    <div class="b-chat-line b-chat-nav__chat-list-info">
                      <div class="b-chat-line__item">
                        <div class="b-chat-line__photo b-chat-nav__photo" style="background-image: url(media/img/content/users/9.jpg)"></div>
                      </div>
                      <div class="b-chat-line__item b-chat-line__item_name">
                        <div class="b-chat-line__name b-chat-nav__name">Jason Fox</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-chat-nav__chat-list-item b-chat-nav__chat-list-item_user c-switcher" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">
                  <div class="b-chat-nav__chat-list-item-inner">
                    <div class="b-chat-line b-chat-nav__chat-list-info">
                      <div class="b-chat-line__item">
                        <div class="b-chat-line__photo b-chat-nav__photo" style="background-image: url(media/img/content/users/1.jpg)"></div>
                      </div>
                      <div class="b-chat-line__item b-chat-line__item_name">
                        <div class="b-chat-line__name b-chat-nav__name">Jessica Bennett</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-chat-nav__chat-list-item b-chat-nav__chat-list-item_user c-switcher" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">
                  <div class="b-chat-nav__chat-list-item-inner">
                    <div class="b-chat-line b-chat-nav__chat-list-info">
                      <div class="b-chat-line__item">
                        <div class="b-chat-line__photo b-chat-nav__photo" style="background-image: url(media/img/content/users/5.jpg)"></div>
                      </div>
                      <div class="b-chat-line__item b-chat-line__item_name">
                        <div class="b-chat-line__name b-chat-nav__name">Christian Payne</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="b-chat-nav__item">
              <div class="b-chat-nav__heading b-chat-nav__heading_chat">
                <div class="b-chat-nav__heading-text">Conversations</div>
                <button class="b-chat-nav__heading-btn-add c-manipulate-class" type="button" data-c-manipulate-class-element="body, .c-manipulate-class----modal--2" data-c-manipulate-class-class="_modal_active, b-modal_active"></button>
              </div>
              <div class="b-chat-nav__chat-list">
                <div class="b-chat-nav__chat-list-item b-chat-nav__chat-list-item_user c-switcher" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">
                  <div class="b-chat-nav__chat-list-item-inner">
                    <div class="b-chat-line b-chat-nav__chat-list-info">
                      <div class="b-chat-line__item">
                        <div class="b-chat-line__photo b-chat-nav__photo" style="background-image: url(media/img/content/users/default.jpg)"></div>
                      </div>
                      <div class="b-chat-line__item b-chat-line__item_name">
                        <div class="b-chat-line__name b-chat-nav__name">Greg Perry</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-chat-nav__chat-list-item b-chat-nav__chat-list-item_user c-switcher" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">
                  <div class="b-chat-nav__chat-list-item-inner">
                    <div class="b-chat-line b-chat-nav__chat-list-info">
                      <div class="b-chat-line__item">
                        <div class="b-chat-line__photo b-chat-nav__photo" style="background-image: url(media/img/content/users/default_tel.jpg)"></div>
                      </div>
                      <div class="b-chat-line__item b-chat-line__item_name">
                        <div class="b-chat-line__name b-chat-nav__name">916 274 83 01</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="b-chat-nav__chat-list-item b-chat-nav__chat-list-item_user c-switcher" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">
                  <div class="b-chat-nav__chat-list-item-inner">
                    <div class="b-chat-line b-chat-nav__chat-list-info">
                      <div class="b-chat-line__item">
                        <div class="b-chat-line__photo b-chat-line__photo_with_text b-chat-nav__photo">3</div>
                      </div>
                      <div class="b-chat-line__item b-chat-line__item_name">
                        <div class="b-chat-line__name b-chat-nav__name">Developers</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="b-chat-nav__item b-chat-nav__item_last">
              <div class="b-chat-nav__heading b-chat-nav__heading_campaigns">
                <div class="b-chat-nav__heading-text">Campaigns</div>
                <button class="b-chat-nav__heading-btn-add c-manipulate-class" type="button" data-c-manipulate-class-element="body, .c-manipulate-class----modal--3" data-c-manipulate-class-class="_modal_active, b-modal_active"></button>
              </div>
              <div class="b-chat-nav__chat-list b-chat-nav__chat-list_tags">
                <div class="b-chat-nav__chat-list-item c-switcher" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">
                  <div class="b-chat-line">
                    <div class="b-chat-line__item">
                      <div class="b-chat-nav__chat-tag">12</div>
                    </div>
                    <div class="b-chat-line__item b-chat-line__item_name">
                      <div class="b-chat-line__name b-chat-nav__name">Potential partners</div>
                    </div>
                  </div>
                  <button class="b-chat-nav__chat-copy"></button>
                </div>
                <div class="b-chat-nav__chat-list-item b-chat-nav__chat-list-item_active c-switcher" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">
                  <div class="b-chat-line">
                    <div class="b-chat-line__item">
                      <div class="b-chat-nav__chat-tag">1</div>
                    </div>
                    <div class="b-chat-line__item b-chat-line__item_name">
                      <div class="b-chat-line__name b-chat-nav__name">Updated sales system</div>
                    </div>
                  </div>
                  <button class="b-chat-nav__chat-copy"></button>
                </div>
                <div class="b-chat-nav__chat-list-item c-switcher" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">
                  <div class="b-chat-line">
                    <div class="b-chat-line__item">
                      <div class="b-chat-nav__chat-tag">427</div>
                    </div>
                    <div class="b-chat-line__item b-chat-line__item_name">
                      <div class="b-chat-line__name b-chat-nav__name">Main service customers</div>
                    </div>
                  </div>
                  <button class="b-chat-nav__chat-copy"></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-chat__item l-chat__item_main">
        <div class="b-chat-header l-chat__header">
          <div class="b-chat-header__inner">
            <div class="b-chat-header__inner-item b-chat-header__inner-item_main">
              <div class="b-chat-header__user b-chat-header__user_lg">
                <div class="b-chat-header__user-item">
                  <div class="b-chat-header__user-photo" style="background-image: url(media/img/content/users/default_group.jpg)"></div>
                </div>
                <div class="b-chat-header__user-item b-chat-header__user-item_info l-flex">
                  <div class="b-list-user-dropdown__bind l-flex l-flex__item_stretch_and_shrink">
                    <div class="b-chat-header__user-name b-chat-header__user-name_lg b-chat-header__user-name_last">Christian Payne, Jason Fox, Jessica Bennett</div>
                    <div class="b-list-user-dropdown b-list-user-dropdown_without_heading">
                      <div class="b-list-user-dropdown__inner">
                        <div class="b-list-user-dropdown__box">
                          <div class="b-list-user-dropdown__content c-scroll">
                            <div class="b-list-user-dropdown__content-item">
                              <div class="b-chat-line">
                                <div class="b-chat-line__item">
                                  <div class="b-chat-line__photo" style="background-image: url(media/img/content/users/9.jpg)"></div>
                                </div>
                                <div class="b-chat-line__item b-chat-line__item_name">
                                  <div class="b-chat-line__name">Jason Fox</div>
                                </div>
                              </div>
                            </div>
                            <div class="b-list-user-dropdown__content-item">
                              <div class="b-chat-line">
                                <div class="b-chat-line__item">
                                  <div class="b-chat-line__photo" style="background-image: url(media/img/content/users/1.jpg)"></div>
                                </div>
                                <div class="b-chat-line__item b-chat-line__item_name">
                                  <div class="b-chat-line__name">Jessica Bennett</div>
                                </div>
                              </div>
                            </div>
                            <div class="b-list-user-dropdown__content-item">
                              <div class="b-chat-line">
                                <div class="b-chat-line__item">
                                  <div class="b-chat-line__photo" style="background-image: url(media/img/content/users/5.jpg)"></div>
                                </div>
                                <div class="b-chat-line__item b-chat-line__item_name">
                                  <div class="b-chat-line__name">Christian Payne</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="b-chat-header__inner-item">
              <div class="b-chat-header__options">
                <div class="b-chat-header__options-item">
                  <button class="b-chat-header__options-btn b-chat-header__options-keypad"></button>
                </div>
                <div class="b-chat-header__options-item">
                  <div class="b-chat-header__options-call b-list-user-dropdown__bind">
                    <button class="b-chat-header__options-btn b-chat-header__options-call-inner"></button>
                    <div class="b-list-user-dropdown b-list-user-dropdown_right b-list-user-dropdown_t_xs">
                      <div class="b-list-user-dropdown__inner">
                        <div class="b-list-user-dropdown__box">
                          <div class="b-list-user-dropdown__heading">
                            <div class="b-list-user-dropdown__heading-text">Call to:</div>
                          </div>
                          <div class="b-list-user-dropdown__content c-scroll">
                            <div class="b-list-user-dropdown__content-item">
                              <div class="b-chat-line">
                                <div class="b-chat-line__item">
                                  <div class="b-chat-line__photo" style="background-image: url(media/img/content/users/default_group.jpg)"></div>
                                </div>
                                <div class="b-chat-line__item b-chat-line__item_name">
                                  <div class="b-chat-line__name">All</div>
                                </div>
                              </div>
                            </div>
                            <div class="b-list-user-dropdown__content-item">
                              <div class="b-chat-line">
                                <div class="b-chat-line__item">
                                  <div class="b-chat-line__photo" style="background-image: url(media/img/content/users/9.jpg)"></div>
                                </div>
                                <div class="b-chat-line__item b-chat-line__item_name">
                                  <div class="b-chat-line__name">Jason Fox</div>
                                </div>
                              </div>
                            </div>
                            <div class="b-list-user-dropdown__content-item">
                              <div class="b-chat-line">
                                <div class="b-chat-line__item">
                                  <div class="b-chat-line__photo" style="background-image: url(media/img/content/users/1.jpg)"></div>
                                </div>
                                <div class="b-chat-line__item b-chat-line__item_name">
                                  <div class="b-chat-line__name">Jessica Bennett</div>
                                </div>
                              </div>
                            </div>
                            <div class="b-list-user-dropdown__content-item">
                              <div class="b-chat-line">
                                <div class="b-chat-line__item">
                                  <div class="b-chat-line__photo" style="background-image: url(media/img/content/users/5.jpg)"></div>
                                </div>
                                <div class="b-chat-line__item b-chat-line__item_name">
                                  <div class="b-chat-line__name">Christian Payne</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="b-chat l-chat__main">
          <div class="b-chat__content">
            <div class="b-chat__content-inner c-scroll">
              <div class="b-chat__message">
                <div class="b-chat__message-inner">
                  <div class="b-chat__message-item">
                    <div class="b-chat__message-user-photo" style="background-image: url(media/img/content/users/3.jpg)"></div>
                  </div>
                  <div class="b-chat__message-item b-chat__message-item_main">
                    <div class="b-chat__message-info"><span class="b-chat__message-info_name _letter_spacing_inherit">Debra Santos</span><span class="b-chat__message-info_minor">2 mins ago</span></div>
                    <div class="b-chat__message-text">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</div>
                  </div>
                </div>
              </div>
              <div class="b-chat__hr">
                <div class="b-chat__hr-text">Today</div>
              </div>
              <div class="b-chat__message">
                <div class="b-chat__message-inner">
                  <div class="b-chat__message-item">
                    <div class="b-chat__message-user-photo" style="background-image: url(media/img/content/users/9.jpg)"></div>
                  </div>
                  <div class="b-chat__message-item b-chat__message-item_main">
                    <div class="b-chat__message-info"><span class="b-chat__message-info_name _letter_spacing_inherit">Jason Fox</span><span class="b-chat__message-info_minor">2 mins ago</span></div>
                    <div class="b-chat__message-text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters</div>
                  </div>
                </div>
              </div>
              <div class="b-chat__message b-chat__message">
                <div class="b-chat__message-inner">
                  <div class="b-chat__message-item">
                    <div class="b-chat__message-user-photo" style="background-image: url(media/img/content/users/3.jpg)"></div>
                  </div>
                  <div class="b-chat__message-item b-chat__message-item_main">
                    <div class="b-chat__message-info"><span class="b-chat__message-info_name _letter_spacing_inherit">Debra Santos</span><span class="b-chat__message-info_minor">2 mins ago</span></div>
                    <div class="b-chat__message-text">Got it!</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="b-chat__enter">
            <textarea class="b-chat__enter-textarea" placeholder="Your Message"></textarea>
            <button class="b-chat__enter-btn">Send</button>
          </div>
          <button class="b-chat__back c-switcher" data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb">Back</button>
        </div>
      </div>
    </div>
    <div class="b-modal b-modal_sm c-manipulate-class----modal--3">
      <div class="b-modal__inner">
        <div class="b-modal__inner-item">
          <div class="b-modal__box-wrapper">
            <div class="b-modal__overlay b-modal__close c-manipulate-class" data-c-manipulate-class-element="body, .c-manipulate-class----modal--3" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove"></div>
            <form class="b-box-call b-box-call_w_lg b-modal__box" style="margin: 0 auto;">
              <div class="b-box-call__top">
                <button class="b-box-call__top-cross c-manipulate-class" data-c-manipulate-class-element="body, .c-manipulate-class----modal--3" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove"></button>
              </div>
              <div class="b-box-call__main b-box-call__main_p_t_lg b-box-call__main_p_horiz_sm">
                <h3 class="b-heading-3 _text_center">Add Campaign</h3>
                <div class="-ol-row-input">
                  <div class="-ol-input-wrap">
                    <input class="-ol-input" type="text" placeholder="Enter the campaign name">
                  </div>
                </div>
                <div class="-ol-row-input">
                  <div class="-ol-input-wrap">
                    <textarea class="-ol-textarea" placeholder="Enter SMS message"></textarea>
                  </div>
                </div>
                <div class="-ol-row-input">
                  <div class="-ol-input-wrap">
                    <textarea class="-ol-textarea" placeholder="Enter a list of target phone numbers">+13124563333, +42334578085857, +42334578085857, +13124563333, +42334578085857, +42334578085857</textarea>
                  </div>
                  <div class="-ol-input-description">
                    <p class="-ol-input-description__text">Use the E.164 international format: +13124563333 +42334578085857, …</p>
                  </div>
                </div>
                <div class="-ol-row-input">
                  <p class="b-separator">or</p>
                </div>
                <div class="-ol-row-input">
                  <div class="-ol-input-file">
                    <p class="-ol-input-file__text">Upload .csv file with a list of phone numbers</p>
                    <div class="-ol-input-file__progress">
                      <div class="-ol-input-file__progress-active" style="width: 40%;"></div>
                    </div>
                    <input type="file">
                  </div>
                </div>
                <div class="b-box-call__main-btns b-box-call__main-btns_m_horiz_lg">
                  <div class="b-box-call__main-btns-item b-box-call__main-btns-item_6">
                    <button class="-ol-btn -ol-btn_minor _full_w">Cancel</button>
                  </div>
                  <div class="b-box-call__main-btns-item b-box-call__main-btns-item_6">
                    <button class="-ol-btn _full_w">Launch</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="b-modal b-modal_sm c-manipulate-class----modal--2">
      <div class="b-modal__inner">
        <div class="b-modal__inner-item">
          <div class="b-modal__box-wrapper">
            <div class="b-modal__overlay b-modal__close c-manipulate-class" data-c-manipulate-class-element="body, .c-manipulate-class----modal--2" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove"></div>
            <form class="b-box-call b-box-call_w_lg b-modal__box" style="margin: 0 auto;">
              <div class="b-box-call__top">
                <button class="b-box-call__top-cross c-manipulate-class" data-c-manipulate-class-element="body, .c-manipulate-class----modal--2" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove"></button>
              </div>
              <div class="b-box-call__main b-box-call__main_p_t_lg b-box-call__main_p_horiz_sm">
                <h3 class="b-heading-3 _text_center">Start Conversation</h3>
                <div class="-ol-row-input">
                  <div class="-ol-input-wrap">
                    <input class="-ol-input" type="text" placeholder="Enter the conversation name">
                  </div>
                </div>
                <div class="-ol-row-input -ol-row-input_last">
                  <div class="b-box-call__main-btns b-box-call__main-btns_nowrap">
                    <div class="b-box-call__main-btns-item b-box-call__main-btns-item_stretch">
                      <div class="-ol-input-wrap">
                        <select class="c-select" data-placeholder="Enter a name or number" multiple>
                          <option>Jason Fox</option>
                          <option>Jessica Bennett</option>
                          <option>Christian Payne</option>
                        </select>
                      </div>
                    </div>
                    <div class="b-box-call__main-btns-item">
                      <button class="-ol-btn -ol-btn_shrink_xs _full_w">Go</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>

code/app/pug/chat_perfecta.pug
extends extends/layout



block content

	.l-chat
		.l-chat__item
			.b-chat-nav.b-chat-nav_active_mb.l-chat__nav
				.b-chat-nav__logo
					.b-chat-nav__logo-symbol( style="height: 37px; background-image: url( 'media/img/content/companies/Perfecta.png' )" )
				.b-chat-nav__content.c-scroll
					.b-chat-nav__item
						.b-chat-nav__heading.b-chat-nav__heading_team
							.b-chat-nav__heading-text Favorites
							button.b-chat-nav__heading-btn-add
						.b-chat-nav__chat-list
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/3.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Debra Santos (Me)
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.b-chat-nav__chat-list-item_active.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" ).b-chat-nav__chat-list-item_online
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/9.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Jason Fox
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/1.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Jessica Bennett
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/5.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Christian Payne

					.b-chat-nav__item
						.b-chat-nav__heading.b-chat-nav__heading_chat
							.b-chat-nav__heading-text Conversations
							button.b-chat-nav__heading-btn-add.c-manipulate-class( type="button" data-c-manipulate-class-element="body, .c-manipulate-class----modal--2" data-c-manipulate-class-class="_modal_active, b-modal_active" )
						.b-chat-nav__chat-list
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/default.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Greg Perry
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-nav__photo( style="background-image: url(media/img/content/users/default_tel.jpg)" )
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name 916 274 83 01
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_user.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-nav__chat-list-item-inner
									.b-chat-line.b-chat-nav__chat-list-info
										.b-chat-line__item
											.b-chat-line__photo.b-chat-line__photo_with_text.b-chat-nav__photo 3
										.b-chat-line__item.b-chat-line__item_name
											.b-chat-line__name.b-chat-nav__name Developers

					.b-chat-nav__item.b-chat-nav__item_last
						.b-chat-nav__heading.b-chat-nav__heading_campaigns
							.b-chat-nav__heading-text Campaigns
							button.b-chat-nav__heading-btn-add.c-manipulate-class( type="button" data-c-manipulate-class-element="body, .c-manipulate-class----modal--3" data-c-manipulate-class-class="_modal_active, b-modal_active" )
						.b-chat-nav__chat-list.b-chat-nav__chat-list_tags
							.b-chat-nav__chat-list-item.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-line
									.b-chat-line__item
										.b-chat-nav__chat-tag 12
									.b-chat-line__item.b-chat-line__item_name
										.b-chat-line__name.b-chat-nav__name Potential partners
								button.b-chat-nav__chat-copy
							.b-chat-nav__chat-list-item.b-chat-nav__chat-list-item_active.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-line
									.b-chat-line__item
										.b-chat-nav__chat-tag 1
									.b-chat-line__item.b-chat-line__item_name
										.b-chat-line__name.b-chat-nav__name Updated sales system
								button.b-chat-nav__chat-copy
							.b-chat-nav__chat-list-item.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" )
								.b-chat-line
									.b-chat-line__item
										.b-chat-nav__chat-tag 427
									.b-chat-line__item.b-chat-line__item_name
										.b-chat-line__name.b-chat-nav__name Main service customers
								button.b-chat-nav__chat-copy

		.l-chat__item.l-chat__item_main
			.b-chat-header.l-chat__header
				.b-chat-header__inner
					.b-chat-header__inner-item.b-chat-header__inner-item_main
						//- .b-chat-header__user
						//- 	.b-chat-header__user-item
						//- 		.b-chat-header__user-photo( style="background-image: url(media/img/content/users/9.jpg)" )
						//- 	.b-chat-header__user-item.b-chat-header__user-item_info
						//- 		.b-chat-header__user-name Jason Fox
						//- 		.b-chat-header__user-status Online
						.b-chat-header__user.b-chat-header__user_lg
							.b-chat-header__user-item
								.b-chat-header__user-photo( style="background-image: url(media/img/content/users/default_group.jpg)" )
							.b-chat-header__user-item.b-chat-header__user-item_info.l-flex
								.b-list-user-dropdown__bind.l-flex.l-flex__item_stretch_and_shrink
									.b-chat-header__user-name.b-chat-header__user-name_lg.b-chat-header__user-name_last Christian Payne, Jason Fox, Jessica Bennett

									.b-list-user-dropdown.b-list-user-dropdown_without_heading
										.b-list-user-dropdown__inner
											.b-list-user-dropdown__box
												.b-list-user-dropdown__content.c-scroll
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/9.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Jason Fox
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/1.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Jessica Bennett
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/5.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Christian Payne

					.b-chat-header__inner-item
						.b-chat-header__options
							.b-chat-header__options-item
								button.b-chat-header__options-btn.b-chat-header__options-keypad
							.b-chat-header__options-item
								.b-chat-header__options-call.b-list-user-dropdown__bind
									button.b-chat-header__options-btn.b-chat-header__options-call-inner

									.b-list-user-dropdown.b-list-user-dropdown_right.b-list-user-dropdown_t_xs
										.b-list-user-dropdown__inner
											.b-list-user-dropdown__box
												.b-list-user-dropdown__heading
													.b-list-user-dropdown__heading-text Call to:
												.b-list-user-dropdown__content.c-scroll
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/default_group.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name All
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/9.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Jason Fox
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/1.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Jessica Bennett
													.b-list-user-dropdown__content-item
														.b-chat-line
															.b-chat-line__item
																.b-chat-line__photo( style="background-image: url(media/img/content/users/5.jpg)" )
															.b-chat-line__item.b-chat-line__item_name
																.b-chat-line__name Christian Payne

			.b-chat.l-chat__main
				.b-chat__content
					.b-chat__content-inner.c-scroll
						.b-chat__message
							.b-chat__message-inner
								.b-chat__message-item
									.b-chat__message-user-photo( style="background-image: url(media/img/content/users/3.jpg)" )
								.b-chat__message-item.b-chat__message-item_main
									.b-chat__message-info #[span.b-chat__message-info_name._letter_spacing_inherit Debra Santos]#[span.b-chat__message-info_minor 2 mins ago]
									.b-chat__message-text There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.

						.b-chat__hr
							.b-chat__hr-text Today

						.b-chat__message
							.b-chat__message-inner
								.b-chat__message-item
									.b-chat__message-user-photo( style="background-image: url(media/img/content/users/9.jpg)" )
								.b-chat__message-item.b-chat__message-item_main
									.b-chat__message-info #[span.b-chat__message-info_name._letter_spacing_inherit Jason Fox]#[span.b-chat__message-info_minor 2 mins ago]
									.b-chat__message-text It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters

						.b-chat__message.b-chat__message
							.b-chat__message-inner
								.b-chat__message-item
									.b-chat__message-user-photo( style="background-image: url(media/img/content/users/3.jpg)" )
								.b-chat__message-item.b-chat__message-item_main
									.b-chat__message-info #[span.b-chat__message-info_name._letter_spacing_inherit Debra Santos]#[span.b-chat__message-info_minor 2 mins ago]
									.b-chat__message-text Got it!

				.b-chat__enter
					textarea.b-chat__enter-textarea( placeholder="Your Message" )
					button.b-chat__enter-btn Send

				button.b-chat__back.c-switcher( data-c-switcher-element=".b-chat-nav" data-c-switcher-class="b-chat-nav_active_mb" ) Back





	include includes/b-box----add-сampaign--3
	include includes/b-box----start-conversation--2




append scripts

	script(
		src="dist/js/plugins/select2.full.js" )

	script(
		src="dist/js/plugins/perfect-scrollbar.jquery.js" )

	script(
		src="dist/js/plugins/tooltipster.bundle.js" )

	script(
		src="dist/js/specific/app.js" )
