code/app/pug/index.pug
extends extends/layout



block content

	.l-content-wrapper( style="background: fixed url(media/img/content/bgs/1.jpg) 50% / cover no-repeat; justify-content: center;" )

		.l-content-wrapper__item.l-content-wrapper__item_main( style="display: flex; align-items: flex-start; flex-wrap: wrap; justify-content: center;" )

			div( style="margin: 0 25px;" )

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						.b-box-call__top-time 32:10
						button.b-box-call__top-cross

					.b-box-call__main.b-box-call__main_p_t_lg

						button.b-box-call__back
							span.b-box-call__back-text Back

						h3.b-heading-3.b-heading-3_m_b_xxs._text_center Transfer to:
						input.b-box-call__input._text_center( type="text" placeholder="Type a name or number" )
						.b-box-call__btn-keys
							.b-box-call__btn-keys-list
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 1
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 2
										span.b-box-call__btn-key_subtext abc
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 3
										span.b-box-call__btn-key_subtext def
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 4
										span.b-box-call__btn-key_subtext ghi
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 5
										span.b-box-call__btn-key_subtext jkl
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 6
										span.b-box-call__btn-key_subtext mno
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 7
										span.b-box-call__btn-key_subtext pqrs
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 8
										span.b-box-call__btn-key_subtext tuv
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 9
										span.b-box-call__btn-key_subtext wxyz
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main *
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 0
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main #
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-round.b-box-call__btn-round_call.b-box-call__btn-round_success

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						.b-box-call__top-time 32:10
						button.b-box-call__top-cross

					.b-box-call__main.b-box-call__main_p_t_lg

						button.b-box-call__back
							span.b-box-call__back-text Back

						h3.b-heading-3.b-heading-3_m_b_xxs._text_center Keypad:
						input.b-box-call__input._text_center( type="text" placeholder="Type a number" )
						.b-box-call__btn-keys
							.b-box-call__btn-keys-list
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 1
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 2
										span.b-box-call__btn-key_subtext abc
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 3
										span.b-box-call__btn-key_subtext def
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 4
										span.b-box-call__btn-key_subtext ghi
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 5
										span.b-box-call__btn-key_subtext jkl
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 6
										span.b-box-call__btn-key_subtext mno
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 7
										span.b-box-call__btn-key_subtext pqrs
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 8
										span.b-box-call__btn-key_subtext tuv
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 9
										span.b-box-call__btn-key_subtext wxyz
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main *
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main 0
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-key
										span.b-box-call__btn-key_main #
								.b-box-call__btn-keys-list-item
									button.b-box-call__btn-round.b-box-call__btn-round_call.b-box-call__btn-round_success

			div( style="margin: 0 25px;" )

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						button.b-box-call__top-cross

					.b-box-call__main

						.b-box-call__main-users
							.b-box-call__main-users-item
								.b-box-call__user-photo( style="background: url(media/img/content/users/1.jpg) 50% / cover no-repeat;" )
							.b-box-call__main-users-item
								.b-box-call__main-users-info
									p.b-box-call__user-name Jason Fox #[span.b-box-call__user-name_number (930)]
									p.b-box-call__user-number +1 425-332-5592

						.b-box-call__main-btns.b-box-call__main-btns_m_horiz_lg
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn.-ol-btn_success.-ol-btn_rounded.-ol-btn_call._full_w Answer
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn.-ol-btn_danger.-ol-btn_rounded.-ol-btn_end._full_w End Call

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						.b-box-call__top-time 32:10
						button.b-box-call__top-cross

					.b-box-call__main

						.b-box-call__main-users
							.b-box-call__main-users-item
								.b-box-call__user-photo( style="background: url(media/img/content/users/1.jpg) 50% / cover no-repeat;" )
							.b-box-call__main-users-item
								.b-box-call__main-users-info
									p.b-box-call__user-name Jason Fox #[span.b-box-call__user-name_number (930)]
									p.b-box-call__user-number +1 425-332-5592

						.b-box-call__main-btns
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_end.b-box-call__btn-round_danger
								.b-box-call__main-btns-text End
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_mute
								.b-box-call__main-btns-text Mute
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_add
								.b-box-call__main-btns-text Add
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_transfer
								.b-box-call__main-btns-text Transfer
							.b-box-call__main-btns-item
								.b-box-call__dropdown-bind
									button.b-box-call__btn-round.b-box-call__btn-round_more
									.b-box-call__dropdown
										ul.b-box-call__dropdown-list
											li.b-box-call__dropdown-list-item
												.b-box-call__dropdown-icon.b-box-call__dropdown-icon_keypad
												.b-box-call__dropdown-text Keypad
											li.b-box-call__dropdown-list-item.b-box-call__dropdown-list-item_last
												.b-box-call__dropdown-icon.b-box-call__dropdown-icon_hold
												.b-box-call__dropdown-text Hold
								.b-box-call__main-btns-text More

			div( style="margin: 0 25px;" )

				form.b-box-call.b-box-call_w_lg( style="margin: 25px 0;" )

					.b-box-call__top
						button.b-box-call__top-cross.c-manipulate-class( data-c-manipulate-class-element="body, .c-manipulate-class----modal--2" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove" )

					.b-box-call__main.b-box-call__main_p_t_lg.b-box-call__main_p_horiz_sm
						h3.b-heading-3._text_center Start Conversation

						.-ol-row-input
							.b-box-call__main-btns.b-box-call__main-btns_nowrap
								.b-box-call__main-btns-item.b-box-call__main-btns-item_stretch
									.-ol-input-wrap
										select.c-select( data-placeholder="Enter a name or number" multiple )
											option Jason Fox
											option Jessica Bennett
											option Christian Payne

						.b-box-call__main-btns.b-box-call__main-btns_m_horiz_lg
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn.-ol-btn_minor._full_w Cancel
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn._full_w G0

			div( style="margin: 0 25px;" )

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						.b-box-call__top-time 32:10
						button.b-box-call__top-cross

					.b-box-call__main

						.b-box-call__main-users
							.b-box-call__main-users-item
								.b-box-call__user-photo( style="background: url(media/img/content/users/1.jpg) 50% / cover no-repeat;" )
							.b-box-call__main-users-item
								.b-box-call__main-users-info
									p.b-box-call__user-name Jason Fox #[span.b-box-call__user-name_number (930)]&#8203;#[button.b-box-call__user-btn-in-line ]
								p.b-box-call__user-number +1 425-332-5592
						.b-box-call__main-users
							.b-box-call__main-users-item
								.b-box-call__user-photo( style="background: url(media/img/content/users/2.jpg) 50% / cover no-repeat;" )
							.b-box-call__main-users-item
								.b-box-call__main-users-info
									p.b-box-call__user-name Susan Rivera #[span.b-box-call__user-name_number (644)]&#8203;#[button.b-box-call__user-btn-in-line ]
								p.b-box-call__user-number +1 425-082-8216

						.b-box-call__main-btns
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_end.b-box-call__btn-round_danger
								.b-box-call__main-btns-text End
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_unmute
								.b-box-call__main-btns-text Mute
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_add
								.b-box-call__main-btns-text Add
							.b-box-call__main-btns-item
								button.b-box-call__btn-round.b-box-call__btn-round_transfer
								.b-box-call__main-btns-text Transfer
							.b-box-call__main-btns-item
								.b-box-call__dropdown-bind
									button.b-box-call__btn-round.b-box-call__btn-round_more
									.b-box-call__dropdown
										ul.b-box-call__dropdown-list
											li.b-box-call__dropdown-list-item
												.b-box-call__dropdown-icon.b-box-call__dropdown-icon_keypad
												.b-box-call__dropdown-text Keypad
											li.b-box-call__dropdown-list-item.b-box-call__dropdown-list-item_last
												.b-box-call__dropdown-icon.b-box-call__dropdown-icon_hold
												.b-box-call__dropdown-text Hold
								.b-box-call__main-btns-text More

				section.b-box-call( style="margin: 25px 0;" )

					.b-box-call__top
						button.b-box-call__top-cross

					.b-box-call__main._text_center
						.b-box-call__main-header-user
							h3.b-box-call__heading-2 Calling...
							p.b-box-call__user-name.b-box-call__user-name_last Jason Fox #[span.b-box-call__user-name_number (930)]
						.b-box-call__main-btns.b-box-call__main-btns_m_horiz_lg.b-box-call__main-btns_center
							.b-box-call__main-btns-item.b-box-call__main-btns-item_6
								button.-ol-btn.-ol-btn_danger.-ol-btn_rounded.-ol-btn_end._full_w Decline



append scripts

	script(
		src="dist/js/plugins/select2.full.js" )

	script(
		src="dist/js/specific/app.js" )

code/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="robots" content="all">
    <meta name="author" content="Libris">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TiBX</title>
    <link rel="apple-touch-icon" sizes="57x57" href="favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#005eff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#005eff">
    <link rel="stylesheet" href="dist/css/all.min.css">
    <script src="dist/js/libs/jquery.min.js"></script>
    <script src="dist/js/plugins/select2.full.js"></script>
    <script src="dist/js/specific/app.js"></script>
  </head>
  <body>
    <div class="l-content-wrapper" style="background: fixed url(media/img/content/bgs/1.jpg) 50% / cover no-repeat; justify-content: center;">
      <div class="l-content-wrapper__item l-content-wrapper__item_main" style="display: flex; align-items: flex-start; flex-wrap: wrap; justify-content: center;">
        <div style="margin: 0 25px;">
          <section class="b-box-call" style="margin: 25px 0;">
            <div class="b-box-call__top">
              <div class="b-box-call__top-time">32:10</div>
              <button class="b-box-call__top-cross"></button>
            </div>
            <div class="b-box-call__main b-box-call__main_p_t_lg">
              <button class="b-box-call__back"><span class="b-box-call__back-text">Back</span></button>
              <h3 class="b-heading-3 b-heading-3_m_b_xxs _text_center">Transfer to:</h3>
              <input class="b-box-call__input _text_center" type="text" placeholder="Type a name or number">
              <div class="b-box-call__btn-keys">
                <div class="b-box-call__btn-keys-list">
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">1</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">2</span><span class="b-box-call__btn-key_subtext">abc</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">3</span><span class="b-box-call__btn-key_subtext">def</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">4</span><span class="b-box-call__btn-key_subtext">ghi</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">5</span><span class="b-box-call__btn-key_subtext">jkl</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">6</span><span class="b-box-call__btn-key_subtext">mno</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">7</span><span class="b-box-call__btn-key_subtext">pqrs</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">8</span><span class="b-box-call__btn-key_subtext">tuv</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">9</span><span class="b-box-call__btn-key_subtext">wxyz</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">*</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">0</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">#</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-round b-box-call__btn-round_call b-box-call__btn-round_success"></button>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <section class="b-box-call" style="margin: 25px 0;">
            <div class="b-box-call__top">
              <div class="b-box-call__top-time">32:10</div>
              <button class="b-box-call__top-cross"></button>
            </div>
            <div class="b-box-call__main b-box-call__main_p_t_lg">
              <button class="b-box-call__back"><span class="b-box-call__back-text">Back</span></button>
              <h3 class="b-heading-3 b-heading-3_m_b_xxs _text_center">Keypad:</h3>
              <input class="b-box-call__input _text_center" type="text" placeholder="Type a number">
              <div class="b-box-call__btn-keys">
                <div class="b-box-call__btn-keys-list">
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">1</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">2</span><span class="b-box-call__btn-key_subtext">abc</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">3</span><span class="b-box-call__btn-key_subtext">def</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">4</span><span class="b-box-call__btn-key_subtext">ghi</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">5</span><span class="b-box-call__btn-key_subtext">jkl</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">6</span><span class="b-box-call__btn-key_subtext">mno</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">7</span><span class="b-box-call__btn-key_subtext">pqrs</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">8</span><span class="b-box-call__btn-key_subtext">tuv</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">9</span><span class="b-box-call__btn-key_subtext">wxyz</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">*</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">0</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-key"><span class="b-box-call__btn-key_main">#</span></button>
                  </div>
                  <div class="b-box-call__btn-keys-list-item">
                    <button class="b-box-call__btn-round b-box-call__btn-round_call b-box-call__btn-round_success"></button>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div style="margin: 0 25px;">
          <section class="b-box-call" style="margin: 25px 0;">
            <div class="b-box-call__top">
              <button class="b-box-call__top-cross"></button>
            </div>
            <div class="b-box-call__main">
              <div class="b-box-call__main-users">
                <div class="b-box-call__main-users-item">
                  <div class="b-box-call__user-photo" style="background: url(media/img/content/users/1.jpg) 50% / cover no-repeat;"></div>
                </div>
                <div class="b-box-call__main-users-item">
                  <div class="b-box-call__main-users-info">
                    <p class="b-box-call__user-name">Jason Fox <span class="b-box-call__user-name_number">(930)</span></p>
                    <p class="b-box-call__user-number">+1 425-332-5592</p>
                  </div>
                </div>
              </div>
              <div class="b-box-call__main-btns b-box-call__main-btns_m_horiz_lg">
                <div class="b-box-call__main-btns-item b-box-call__main-btns-item_6">
                  <button class="-ol-btn -ol-btn_success -ol-btn_rounded -ol-btn_call _full_w">Answer</button>
                </div>
                <div class="b-box-call__main-btns-item b-box-call__main-btns-item_6">
                  <button class="-ol-btn -ol-btn_danger -ol-btn_rounded -ol-btn_end _full_w">End Call</button>
                </div>
              </div>
            </div>
          </section>
          <section class="b-box-call" style="margin: 25px 0;">
            <div class="b-box-call__top">
              <div class="b-box-call__top-time">32:10</div>
              <button class="b-box-call__top-cross"></button>
            </div>
            <div class="b-box-call__main">
              <div class="b-box-call__main-users">
                <div class="b-box-call__main-users-item">
                  <div class="b-box-call__user-photo" style="background: url(media/img/content/users/1.jpg) 50% / cover no-repeat;"></div>
                </div>
                <div class="b-box-call__main-users-item">
                  <div class="b-box-call__main-users-info">
                    <p class="b-box-call__user-name">Jason Fox <span class="b-box-call__user-name_number">(930)</span></p>
                    <p class="b-box-call__user-number">+1 425-332-5592</p>
                  </div>
                </div>
              </div>
              <div class="b-box-call__main-btns">
                <div class="b-box-call__main-btns-item">
                  <button class="b-box-call__btn-round b-box-call__btn-round_end b-box-call__btn-round_danger"></button>
                  <div class="b-box-call__main-btns-text">End</div>
                </div>
                <div class="b-box-call__main-btns-item">
                  <button class="b-box-call__btn-round b-box-call__btn-round_mute"></button>
                  <div class="b-box-call__main-btns-text">Mute</div>
                </div>
                <div class="b-box-call__main-btns-item">
                  <button class="b-box-call__btn-round b-box-call__btn-round_add"></button>
                  <div class="b-box-call__main-btns-text">Add</div>
                </div>
                <div class="b-box-call__main-btns-item">
                  <button class="b-box-call__btn-round b-box-call__btn-round_transfer"></button>
                  <div class="b-box-call__main-btns-text">Transfer</div>
                </div>
                <div class="b-box-call__main-btns-item">
                  <div class="b-box-call__dropdown-bind">
                    <button class="b-box-call__btn-round b-box-call__btn-round_more"></button>
                    <div class="b-box-call__dropdown">
                      <ul class="b-box-call__dropdown-list">
                        <li class="b-box-call__dropdown-list-item">
                          <div class="b-box-call__dropdown-icon b-box-call__dropdown-icon_keypad"></div>
                          <div class="b-box-call__dropdown-text">Keypad</div>
                        </li>
                        <li class="b-box-call__dropdown-list-item b-box-call__dropdown-list-item_last">
                          <div class="b-box-call__dropdown-icon b-box-call__dropdown-icon_hold"></div>
                          <div class="b-box-call__dropdown-text">Hold</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="b-box-call__main-btns-text">More</div>
                </div>
              </div>
            </div>
          </section>
        </div>
        <div style="margin: 0 25px;">
          <form class="b-box-call b-box-call_w_lg" style="margin: 25px 0;">
            <div class="b-box-call__top">
              <button class="b-box-call__top-cross c-manipulate-class" data-c-manipulate-class-element="body, .c-manipulate-class----modal--2" data-c-manipulate-class-class="_modal_active, b-modal_active" data-c-manipulate-class-operation-type="remove, remove"></button>
            </div>
            <div class="b-box-call__main b-box-call__main_p_t_lg b-box-call__main_p_horiz_sm">
              <h3 class="b-heading-3 _text_center">Start Conversation</h3>
              <div class="-ol-row-input">
                <div class="b-box-call__main-btns b-box-call__main-btns_nowrap">
                  <div class="b-box-call__main-btns-item b-box-call__main-btns-item_stretch">
                    <div class="-ol-input-wrap">
                      <select class="c-select" data-placeholder="Enter a name or number" multiple>
                        <option>Jason Fox</option>
                        <option>Jessica Bennett</option>
                        <option>Christian Payne</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="b-box-call__main-btns b-box-call__main-btns_m_horiz_lg">
                <div class="b-box-call__main-btns-item b-box-call__main-btns-item_6">
                  <button class="-ol-btn -ol-btn_minor _full_w">Cancel</button>
                </div>
                <div class="b-box-call__main-btns-item b-box-call__main-btns-item_6">
                  <button class="-ol-btn _full_w">G0</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div style="margin: 0 25px;">
          <section class="b-box-call" style="margin: 25px 0;">
            <div class="b-box-call__top">
              <div class="b-box-call__top-time">32:10</div>
              <button class="b-box-call__top-cross"></button>
            </div>
            <div class="b-box-call__main">
              <div class="b-box-call__main-users">
                <div class="b-box-call__main-users-item">
                  <div class="b-box-call__user-photo" style="background: url(media/img/content/users/1.jpg) 50% / cover no-repeat;"></div>
                </div>
                <div class="b-box-call__main-users-item">
                  <div class="b-box-call__main-users-info">
                    <p class="b-box-call__user-name">Jason Fox <span class="b-box-call__user-name_number">(930)</span>&#8203;
                      <button class="b-box-call__user-btn-in-line"></button>
                    </p>
                  </div>
                  <p class="b-box-call__user-number">+1 425-332-5592</p>
                </div>
              </div>
              <div class="b-box-call__main-users">
                <div class="b-box-call__main-users-item">
                  <div class="b-box-call__user-photo" style="background: url(media/img/content/users/2.jpg) 50% / cover no-repeat;"></div>
                </div>
                <div class="b-box-call__main-users-item">
                  <div class="b-box-call__main-users-info">
                    <p class="b-box-call__user-name">Susan Rivera <span class="b-box-call__user-name_number">(644)</span>&#8203;
                      <button class="b-box-call__user-btn-in-line"></button>
                    </p>
                  </div>
                  <p class="b-box-call__user-number">+1 425-082-8216</p>
                </div>
              </div>
              <div class="b-box-call__main-btns">
                <div class="b-box-call__main-btns-item">
                  <button class="b-box-call__btn-round b-box-call__btn-round_end b-box-call__btn-round_danger"></button>
                  <div class="b-box-call__main-btns-text">End</div>
                </div>
                <div class="b-box-call__main-btns-item">
                  <button class="b-box-call__btn-round b-box-call__btn-round_unmute"></button>
                  <div class="b-box-call__main-btns-text">Mute</div>
                </div>
                <div class="b-box-call__main-btns-item">
                  <button class="b-box-call__btn-round b-box-call__btn-round_add"></button>
                  <div class="b-box-call__main-btns-text">Add</div>
                </div>
                <div class="b-box-call__main-btns-item">
                  <button class="b-box-call__btn-round b-box-call__btn-round_transfer"></button>
                  <div class="b-box-call__main-btns-text">Transfer</div>
                </div>
                <div class="b-box-call__main-btns-item">
                  <div class="b-box-call__dropdown-bind">
                    <button class="b-box-call__btn-round b-box-call__btn-round_more"></button>
                    <div class="b-box-call__dropdown">
                      <ul class="b-box-call__dropdown-list">
                        <li class="b-box-call__dropdown-list-item">
                          <div class="b-box-call__dropdown-icon b-box-call__dropdown-icon_keypad"></div>
                          <div class="b-box-call__dropdown-text">Keypad</div>
                        </li>
                        <li class="b-box-call__dropdown-list-item b-box-call__dropdown-list-item_last">
                          <div class="b-box-call__dropdown-icon b-box-call__dropdown-icon_hold"></div>
                          <div class="b-box-call__dropdown-text">Hold</div>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="b-box-call__main-btns-text">More</div>
                </div>
              </div>
            </div>
          </section>
          <section class="b-box-call" style="margin: 25px 0;">
            <div class="b-box-call__top">
              <button class="b-box-call__top-cross"></button>
            </div>
            <div class="b-box-call__main _text_center">
              <div class="b-box-call__main-header-user">
                <h3 class="b-box-call__heading-2">Calling...</h3>
                <p class="b-box-call__user-name b-box-call__user-name_last">Jason Fox <span class="b-box-call__user-name_number">(930)</span></p>
              </div>
              <div class="b-box-call__main-btns b-box-call__main-btns_m_horiz_lg b-box-call__main-btns_center">
                <div class="b-box-call__main-btns-item b-box-call__main-btns-item_6">
                  <button class="-ol-btn -ol-btn_danger -ol-btn_rounded -ol-btn_end _full_w">Decline</button>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </body>
</html>
